<%- include("partials/header") %>

<!-- Content -->
<div class="container mx-auto">
  <h1 class="font-signika text-4xl pt-10 pb-8">GALLERY EDIT</h1>


  <div class="add-button-container">
    <input type="file" class="fileInput" accept="image/*" style="display: none;">
    <button class="add-button uploadButton">
      <svg class="h-16 w-16 text-slate-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
      </svg>   
    </button>
    <!-- Hidden input to store the album name -->
    <input type="text" class="albumName" value="">
  </div>
  
<!-- Footer -->
<%- include("partials/footer") %>
